/**
 * Authors:
 * Maciej Leśniewski (https://github.com/leshniak)
 * Tux (https://github.com/tuxy)
 */

* { margin: 0; padding: 0; }

html {
	font-size: 16px;
}

body {
	min-width: 320px;
	margin: 1.5rem;
	color: #333;
	background-color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
}

a {
	color: #1c6094;
	text-decoration: none;
}

a:hover {
	color: black;
}

h1 {
	background-color: #1c6094;
	padding: 1.2rem;
	color: white;
	font-weight: normal;
	border-bottom: solid .05rem #e6e6e6;
	font-size: 1.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

footer {
	border-top: .05rem solid #e6e6e6;
	padding: 1.2rem;
	color: #888;
	font-size: .8rem;
}

#page {
	overflow: hidden;
	background-color: #fff;
	border-radius: .3rem;
	box-shadow: 0px 0px .2rem #ccc;
	margin: auto;
	max-width: 1200px;
}

#list {
	width: 100%;
	overflow: auto;
	table-layout: fixed;
	border-collapse: collapse;
}

#list thead th,
#list tbody td {
	white-space: nowrap;
	overflow: hidden;
	padding: .5rem;
	vertical-align: middle;
}

#list thead th {
	background: linear-gradient(#f8f9fa, whitesmoke);
	border-bottom: solid .05rem lightgray;
	text-align: start;
	line-height: 1.5em;
	font-weight: normal;
}

#list tbody td > * {
	vertical-align: middle;
}

#list tbody tr:nth-child(even) {
	background: #f8f9fa;
}

#list .link a {
	margin-left: 1.5rem;
	display: inline-block;
	width: calc(100% - 1.5rem);
	text-overflow: ellipsis;
	overflow: hidden;
}

#list .link .icon~a {
	margin-left: 0;
}

#list .link .icon {
	display: inline-block;
	object-fit: contain;
	object-position: center;
	width: 1rem;
	height: 1rem;
	margin-right: .5rem;
}

@media (max-width: 640px) {
	body {
		margin: .5rem;
	}

	#list th:nth-child(2),
	#list th:nth-child(3),
	#list td:nth-child(2),
	#list td:nth-child(3) {
		display: none;
	}

	footer {
		padding: 1rem .8rem;
	}
}
